.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.user-icon-container {
    cursor: pointer;
    margin-left: 10px;
    position: relative;
}

#userIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.auth-popup {
    position: absolute;
    top: 45px;
    right: 0;
    background: #101827;
    padding: 10px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.auth-popup button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background: #6ee7b7;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.content-container {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.main-content {
    margin-bottom: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
